<div class="container mat-elevation-z8">
    <h1 class="full-width">Visualizando Empréstimo</h1>
    <img class="full-width" src="assets/img/emprestimo-create.svg" alt="Emprestimo image">

    <div class="cliente">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>CLIENTE ({{ emprestimo.nomeCliente }})</mat-label>
            <mat-select 
            [disabled]="true"
            [(ngModel)]="emprestimo.cliente"
            name="cliente">
              <mat-option>{{ emprestimo.nomeCliente }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="livro">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>LIVRO ({{ emprestimo.nomeLivro }})</mat-label>
            <mat-select 
            [disabled]="true"
            [(ngModel)]="emprestimo.livro"
            name="livro">
              <mat-option>{{ emprestimo.nomeLivro }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="status">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>STATUS ({{ retornaStatus(emprestimo.status) }})</mat-label>
            <mat-select 
            [disabled]="true"
            [(ngModel)]="emprestimo.status"
            name="status">
              <mat-option value="0">EMPRESTADO</mat-option>
              <mat-option value="1">DEVOLVIDO</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <button routerLink="../../" class="full-width mat-elevation-z4" mat-stroked-button color="warn">Voltar</button>

</div>
