<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <img src="assets/img/side-img.svg" alt="Imagem de navegação">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="home">
                <i class="material-icons">home</i>
                Home
            </a>
            <a mat-list-item routerLink="usuarios">
                <i class="material-icons">account_circle</i>
                Usuarios
            </a>
            <a mat-list-item routerLink="clientes">
                <i class="material-icons">person</i>
                Clientes
            </a>
            <a mat-list-item routerLink="livros">
                <i class="material-icons">menu_book</i>
                Livros
            </a>
            <a mat-list-item routerLink="emprestimos">
                <i class="material-icons">swap_horiz</i>
                Empréstimo
            </a>
            <a mat-list-item href="https://github.com/rafaelsouuza/sistemabibliotecario-front" target="_blank">
                <i class="material-icons">code</i>
                GitHub
            </a>
            <a mat-list-item (click)="logout()">
                <i class="material-icons">logout</i>
                Logout
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <app-header></app-header>
        <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>